@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1706601715666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e882";
}

.icon-mail:before {
  content: "\e812";
}

.icon-github:before {
  content: "\e64c";
}

.icon-kuwoyinle:before {
  content: "\e678";
}

.icon-kugouyinle:before {
  content: "\eb7d";
}

.icon-QQyinle:before {
  content: "\eb7e";
}

.icon-wangyiyunyinle:before {
  content: "\eb7f";
}

